.UserCard {
  border: 3px solid #eee8aa;
  box-shadow: .15rem .15rem .5rem rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  animation: horizontalFlipIn 1s;
}

.UserCard-id{
  font-size: 9px;
  text-align: left;
  float: left
}
.UserCard-username{
  display: inline-block;
  font-size: 9px;
  text-align: right; 
  float: right
}

.UserCard-name {
  font-size: 2rem;
  margin: 7;
}
.UserCard-email {
  font-size: 15px;
  margin-top: 9px;
  text-align: left;
}
.UserCard-address{
  font-size: 1rem;
  margin: 1;
}
